.home-btn {
    outline: none;
    border: none;
    position: fixed;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-btn:hover {
    transform: scale(0.9);
}

.home-link {
    text-decoration: none;
    font-family: var(--font-family-pop);
}

.blog-main {
    display: grid;
    place-items: center;
    width: 100%;
}

.blogs {
    width: 60%;
}

.blog-comp__wrapper {
    width: 100%;
    height: fit-content;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 20px;
    font-family: var(--font-family-pop);
}

.blog-comp__highlighter {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    display: grid;
    place-items: center;
}

.blog-comp__highlighter h1 {
    font-size: 4em;
}

.blog-description {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0;
}

.blog-comp__meta_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
}

.blog-comp__meta p{
    font-size: 12px;
}

.open__btn {
    outline: none;
    border: solid 2px #f50057;
    padding: 5px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    color: #f50057;
}

.open__btn:hover {
    background-color: #f50057;
    color: #fff;
}

.blog-comp__details span {
    font-size: 10px;
    margin: 0 10px 0 0;
    background-color: #e3f2fd;
    padding: 5px 10px; 
    border-radius: 5pc;
}

.search-form {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input {
    width: 80%;
    padding: 10px;
    border: none;
    border: solid 1px #000;
}

.search-form input::placeholder {
    color: #000;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .blogs {
        width: 95%;
    }
    .blog-comp__wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .blog-comp__highlighter{
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .blogs {
        width: 80%;
    }
}