.project-details_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-details_main {
    width: 80%;
    font-family: var(--font-family-pop);
}

.project-details-navigation {
    margin: 20px 0;
}

.home-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-name {
    font-size: 80px;
    color: var(--primary-text);
    margin: 10px 0;
}

.project-links {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-details,
.project-img {
    width: 100%;
}

.project-img img {
    width: 100%;
}

.project-info {
    margin: 10px 0;
    line-height: 2;    
}

.project-skills,
.project-features {
    margin: 20px 0;
}

.project-skills h3,
.project-features h3 {
    font-size: 28px;
    font-family: var(--font-family-raleway);
    color: var(--primary-text);
}

.project-skills ol {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.project-skills ol li {
    width: fit-content;
    padding: 10px 20px;
    background-color: #212121;
    color: #fff;
    border-radius: 5pc;
}

.project-features li {
    margin: 10px 20px;
}

@media screen and (max-width: 500px) {
    .project-details_main {
        width: 90%;
    }
    .project-name {
        font-size: 60px;
        color: var(--primary-text);
        margin: 10px 0;
    }

}