@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.logo-wrapper {
    padding: 5px 10px;
    border: solid 2px #311b92;
    cursor: pointer;
}

.logo-letter {
    text-decoration: none;
    font-weight: bold;
    color: #311b92;
}