.app-header {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.icon-btn {
    display: none;
}

.navigation {
    display: flex;
    gap:  0 20px;
    list-style: none;
}

.nav-link {
    color: var(--primary-text);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
}

.list-number {
    /* color:#311b92; */
    margin: 0 5px;
}

.nav-link:hover, .nav-link:hover > .list-number {
    text-decoration: underline;
    /* color: #00e676; */
}

.menu-icon {
    display: none;
}

.icon-btn {
    outline: none;
    border: none;
    background: none;
    color: #FFFFFF;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 999; 
}

@media screen and (max-width: 599px) {
    .app-header {
        flex-direction: column;
        width: 92%;
        justify-content: space-between;

    }
    .icon-btn {
        display: block;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        border: solid 1px #FFFFFF;
        padding: 5px;
    }
    .menu-icon:hover {
        color: var(--cyan-color);
        border: solid 1px var(--cyan-color);
        padding: 5px;
    }
    .navigation-wrapper {
        width: 100%;
        display: none;
        margin: 20px 0;
    }
    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px 0;
    }
    .sticky-nav {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .app-header {
        flex-direction: column;
        width: 92%;
    }
    .icon-btn {
        display: block;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        border: solid 1px #FFFFFF;
        padding: 5px;
    }
    .menu-icon:hover {
        color: var(--cyan-color);
        border: solid 1px var(--cyan-color);
        padding: 5px;
    }
    .navigation-wrapper {
        width: 100%;
        display: none;
        margin: 20px 0;
    }
    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px 0;
    }
    .sticky-nav {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
    }
}
