.intro-wrapper {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.welcome-msg {
  display: inline-block;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.wishes { 
  /* text-decoration: underline wavy; */
  font-family: var(--font-family-raleway);
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.my-name {
  color: #000;
  font-family: var(--font-family-raleway);
  background-color: #00e676;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

.my-role {
  /* color: #311b92; */
  font-size: 6vw;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family-raleway);
  margin: 10px 0 20px;
  color: #00e676;
}

.my-role svg {
  font-size: 1em;
}

/* .my-name::after {
    content: "|";
    color: #311b92;
    animation: blink-animation 1s steps(5, start) infinite;
} */

.info-links {
  display: flex;
  gap: 5px;
}

.resume-link, .linkedin-link {
  text-decoration: none;
  color: #000;
  border: solid 1px #00e676;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}

.linkedin-link {
  color: #00e676;
}

.linkedin-link:hover {
  color: #000;
  background-color: #00e676;
}

.resume-link {
  background-color: #00e676;
}

.resume-link:hover {
  background-color: transparent;
  color: #00e676;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.tooltip {
  font-size: 60px;
}

.intro-me {
  width: 70%;
  line-height: 32px;
  color: var(--text-color);
  font-size: 1em;
}

/* .highlight {
  color: #311b92;
} */

.dashed-highlight {
  color: #f4511e;
}

.about-div__wrapper {
  width: 80%;
  height: 75vh;
  display: flex;
  margin: 80px auto;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.experience-wrapper,
.edu-wrapper,
.projects-wrapper,
.contact-wrapper,
.skills-wrapper {
  width: 80%;
  margin: 70px auto;
}

.experience-wrapper .caption ,
.edu-wrapper .caption ,
.projects-wrapper .caption ,
.contact-wrapper .caption ,
.skills-wrapper .caption {
  color: #fff;
  font-family: var(--font-family-raleway);
}

.experience {
  margin: 15px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
}

.experience-title {
  font-weight: bolder;
  color: #311b92;
}

.company-name {
  text-decoration: none;
  color: #311b92;
}

.exp-duration,
.company {
  font-size: 1em;
}

.highlights {
  width: 95%;
  margin: 10px 0 auto 10px;
  font-size: 1em;
  line-height: 28px;
}

.new-experience-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
  /* border-top: solid 2px #fff; */
}

.new-experience-wrapper p:nth-child(1) {
  justify-self: start;
}

.new-experience-wrapper p:nth-child(2) {
  justify-self: start;
}

.new-experience-wrapper p:nth-child(3) {
  justify-self: end;
}

.experience-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-highlights {
  margin: 0 0 0 15px;
  font-size: 1em;
}

.experience-skills {
  list-style: none;
  display: flex;
}

.my-img {
  width: 240px;
  height: auto;
  /* border-radius: 50%; */
}

.about-wrapper {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1em;
  line-height: 32px;
}

.title {
  color: #00e676;
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: var(--font-family-raleway);
}

/* .title::after {
    content: "";
    width: 200px;
    border-bottom: solid 1px var(--cyan-color);
    margin: 0 10px;
} */

/* .skills-list {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
} */

.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  justify-content: center;
}

.skill img {
  width: 80px;
}

.table {
  margin: 20px 0;
  border-collapse: collapse;
  width: 90%;
}

.table th,
.table td {
  border: solid 2px #142343;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
}

.table th {
  letter-spacing: 1px;
}

.projects-list {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pro-wrapper {
  width: 280px;
  height: fit-content;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  padding: 20px 30px;
  align-content: space-between;
  margin: 5px auto;
  box-sizing: border-box;
  border: solid 0.5px rgba(42, 51, 70, 0.03);
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  align-items: center;
}

.project-header .header-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}

.status {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  color: var(--white-color);
  font-size: 10px;
}

.completed {
  border: solid 1px var(--green-color);
  background-color: var(--green-color);
}

.in-progress {
  border: solid 1px var(--charcoal-color);
  background-color: var(--charcoal-color);
}

.project-body {
  overflow-y: scroll;
}

.project-body h3 {
  font-size: 20px;
  font-family: var(--font-family-raleway);
}

.project-body h3 a{
  text-decoration: none;
  color: #fff;
}

.project-body h3 a:hover {
  color: #84fab0;
  cursor: pointer;
}

.project-body p {
  font-size: 14px;
  margin: 10px auto;
}

.project-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.project-footer ul li,
.experience-skills li {
  width: fit-content;
  padding: 10px;
  border-radius: 5pc;
  margin: 5px;
  font-size: 12px;
  color: #000;
  text-align: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  backdrop-filter: blur(0.1px);
  overflow-x: scroll;
}

.experience-period {
  color: #e1e1e1;
}

.highlight_exp {
  color: #311b92;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-title {
  font-size: 40px;
  color: #00e676;
}

.contact-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.contact-message {
  width: 50%;
  text-align: center;
  line-height: 28px;
  font-size: 1em;
}

.contact-links li:hover {
  transform: scale(1.1);
}

.email-link {
  border: solid 1px #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
}

.email-link:hover {
  transform: scale(0.96);
}

.attribution {
  font-size: 14px;
}

.view-more__wrapper {
  width: 100%;
  display: grid;
  place-items: center;
}

.view-more__btn {
  width: fit-content;
  outline: none;
  border: solid 1px #000;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.view-more__btn a {
  text-decoration: none;
  color: #000;
}

.view-more__btn:hover {
  background-color: #000;
}

.view-more__btn:hover a {
  color: #ffffff;
  background-color: transparent;
}

.project-page__display {
  box-sizing: border-box;
  height: fit-content;
  /* padding: 20px; */
}

.github-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.github-link:hover {
  transform: scale(0.96);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* .my-name {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
  white-space: nowrap;
  border-right: 2px solid #00e676;
  animation: typing 2s steps(17, end), blink 0.75s step-end infinite;
  color: #00e676; /* or your desired color */
  /* width: 0; important: initial width for animation */
  /* animation-fill-mode: forwards; */
/* }  */

/* @media screen and (max-width: 599px) {
    .my-img {
        display: none;
    }
    .about-div__wrapper {
        width: 90%;
    }
    .intro-me {
        width: 100%;
    }
    
} */
@media screen and (max-width: 500px) {
  .my-role {
    font-size: 9vw;
    line-height: 1;
  }
}

@media screen and (min-width: 200px) and (max-width: 1015px) {
  .about-div__wrapper {
    width: 98%;
  }
  .intro-me {
    width: 95%;
  }
  .experience-wrapper,
  .projects-wrapper,
  .intro-wrapper,
  .skills-wrapper {
    width: 90%;
  }

  .contact-message {
    width: 80%;
  }

  .experience-period {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 200px) and (max-width: 900px) {
  .pro-wrapper {
    width: 100%;
    height: 400px;
    grid-template-rows: 10% 50% 30%;
  }
  .edu-wrapper table {
    overflow-x: scroll;
  }
  .title::after {
    width: 100px;
  }
  .pro-wrapper {
    height: fit-content;
  }
  .skill {
    font-size: 12px;
  }
  .skill img {
    width: 60px;
  }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .about-div__wrapper {
    display: flex;
    flex-direction: column;
  }
  .my-img {
    display: block;
    width: 90%;
    height: 400px;
    margin: 10px auto;
    border-radius: 5px;
  }
  .skill {
    font-size: 10px;
  }
  .skill img {
    width: 50px;
  }
  .new-experience-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 601px) and (max-width: 1015px) {
  .about-div__wrapper {
    display: flex;
    flex-direction: column;
  }
  .my-img {
    display: block;
    margin: 10px 30px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 901px) {
  .experience {
    width: 100%;
    box-sizing: border-box;
  }
  .pro-wrapper {
    width: 100%;
    height: 350px;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 829px) and (max-width: 1015px) {
  .pro-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1016px) {
  .projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  .pro-wrapper {
    width: 100%;
  }
}
