@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --charcoal-color: #101820FF;
  --yellow-color: #FEE715FF;
  --cyan-color: #64FEDB;
  --font-family: 'Roboto Slab', serif;
  --font-family-pop: 'Poppins', serif;
  --bg-color: #0B192E;
  --text-color: #90a4ae;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: #FFFFFF;
}

