@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --charcoal-color: #101820FF;
  --yellow-color: #FEE715FF;
  --cyan-color: #64FEDB;
  --font-family: 'Roboto Slab', serif;
  --font-family-pop: 'Poppins', serif;
  --font-family-raleway: "Raleway", sans-serif;
  --bg-color: #0B192E;
  --text-color: #90a4ae;
  --green-color: #43a047;
  --white-color: #fff;
}


* {
  margin: 0;
  padding: 0;
  color: #FFF;
  background-color: #000;
}

::selection {
  background: #00e676; 
  color: #000;         
}

